.main-div {
  width: 80%;
  margin: 4rem auto;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%),
    0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}