.profile{
    border-radius: 15px;
    border:1px solid black;
    height: 500px;
    width:60%;
    margin-left: 80px;
    margin-top: 20px;
}

.c-img{
    border-radius: 15px;
}

.profile-image{
    width: 150px;
    height: 130px;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 100px;
    margin-top: -120px;
}

.p-img{
    height: 170px;
    border-radius: 10px;
}

.profile-info{
    display: flex;
}

.profile-name{
    font-size: 20px;
    margin-top: 60px;
    margin-left: 15px;
}

.profile-text{
   margin-left: -205px;
   margin-top: 100px;
}

.btn{
    background-color: white;
    cursor: pointer;
    height: 35px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 10px;
    border-color:blue;
    color: blue;
    width:120px;
}

.btn:hover{
    background-color: blue;
    color: white;
}



.button{
    background-color: white;
    cursor: pointer;
    height: 35px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: blue;
    color:blue;
    width: 120px;
}

.button:hover{
    background-color: blue;
    color: white;
}

