.signup {
  width: 40%;
  background: #fff;
  margin: 4rem auto;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
}
.signup input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;

}

.signup>.button {
  align-self: center;
  background: #580432;
  border: 1px solid #580432;
  color: #fff;
  width: 50%;

  padding: 0.5rem;
  margin: auto;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #580432;
}
    .error {
      width: 100%;
      padding: 15px;
      margin: 5px 0;
      font-size: 14px;
      background-color: #f34646;
      color: white;
      border-radius: 5px;
      text-align: center;
    }
.success-signin{
 width: 100%;
      padding: 15px;
      margin: 5px 0;
      font-size: 14px;
      background-color: #ADFF2F;
      color: white;
      border-radius: 5px;
      text-align: center;
}
